.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--black);
  color: var(--text-secondary);
  height: 65px;
  display: flex;
  align-items: center;
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-links a {
  color: #ffffff;
  margin-right: 10px;
  text-decoration: none;
  font-size: 16px;
}

.footer-contact p {
  margin: 0;
  font-size: 16px;
}
