.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  margin: 1rem 0.5rem;
}

.header-buttons {
  margin: 0.5rem 1rem;
}

.header-buttons button {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 10px 2px;
}

.header-buttons button:hover {
  transform: scale(1.1);
}
.about-btn {
  background-color: transparent;
}

.login-btn {
  background-color: transparent;
  border: 2px solid black !important;
}

.grid-container {
  background-image: url('../../public/triangle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.main-title {
  grid-area: 2 / 2 / 4 / 6;
  border-radius: 70px;
  background-color: white;
  color: #7F39FB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.8em;
  text-align: center;
  font-style: oblique;
  padding: 1rem;
}
.main-title:hover {
   transform: scale(1.1);
}

.main-text {
  grid-area: 3 / 3 / 9 / 8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.8em;
  text-align: center;
  color: #7F39FB;
  font-weight: bold;
}

.main-details {
  grid-area: 7 / 7 / 10 / 9;
  background-color: white;
  color: black;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 2rem;
  font-size: 1.4rem;
}
.main-details:hover {
   transform: scale(1.1);
}
.main-email {
  grid-area: 10 / 2 / 12 / 5;
}

.main-email input {
  border-radius: 25px;
  border: none;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem;
}

.main-email {
  font-style: oblique;
  color: #332318;
}

.image-1 {
  grid-area: 2 / 11 / 5 / 12;
  box-shadow: 2px 2px 4px #000000;
}
.image-2 {
  grid-area: 6 / 12 / 9 / 12;
  box-shadow: 2px 2px 4px #000000;
}
.image-3 {
  grid-area: 10 / 11 / 13 / 12;
  box-shadow: 2px 2px 4px #000000;
}


.grid-container img {
  height: 12rem;
  width: 12rem;
  border-radius: 100%;
}

.grid-container img:hover {
   transform: scale(1.1);
 }

 .custom-shape-divider-top-1679414708 .shape-fill {
   fill: var(--secondary)
}