
.landing-container {
   display: flex;
}

.titles-container {
   width: 50%;
   z-index: 3;
}

.rightside {
   width: 40%;
}

.main-title {
   background-color: white;
   margin: 2rem;
   padding: 2rem 2rem;
   border-radius: 20px;
   font-size: 1.6rem;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: var(--primary-dark);
   font-weight: 700;
}

.main-images {
   display: flex;
   justify-content: space-between;
}

.image {
   background-color: white;
   width: 18rem;
   height: 18rem;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   margin: 2rem;
   border-radius: 15px;
   border: 0.2rem solid var(--primary-light);
   background-size: cover;
   background-position: center center;
}

.email-input input {
   border-radius: 50px;
   padding: 1.5rem;
   margin: 0.5rem 2rem;
   width: 30%;
   text-align: center;
   font-size: 1.3rem;
   border: none;
}

.register-btn {
   border-radius: 50px;
   padding: 1.5rem;
   margin: 0.5rem 2rem;
   width: 30%;
   text-align: center;
   font-size: 1.3rem;
   border: none;
   cursor: pointer;
   background-color: var(--primary-light);
   color: white;
   font-weight: 700;
}

.register-btn:hover {
   transform: scale(1.1)
}

.login-register-container {
   display: flex;
   justify-content: flex-start;
}

.bola {
   width: 50%;
   height: 100%;
   border-radius: 50%;
   background: linear-gradient(to bottom, rgba(108, 59, 203, 0.5), rgba(150, 47, 165, 1));
   position: fixed;
   bottom: 0;
   right: 0;
   transform: translate(10%, 25%);
 }
 
 .bola img {
   position: absolute;
   bottom: 30%;
   right: 20%;;
   transform: scale(1.5);
   z-index: 4;
 }

 .already-register {
   font-style: oblique;
   color: #332318;
 }

 .custom-shape-divider-top-1679414708 {
   position: absolute;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
   z-index: 1;
}

.custom-shape-divider-top-1679414708 svg {
   position: relative;
   display: block;
   width: calc(100% + 1.3px);
   height: 194px;
}

.custom-shape-divider-top-1679414708 .shape-fill {
   fill: #FBA239;
}