  #main_div {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  #forms_container {
      background-color: white;
      width: 800px;
      height: 500px;
      border-radius: 20px;
      position: relative;
      box-shadow: 0 0 30px #878787;
      overflow: hidden;
  }

  #form_message {
      position: absolute;
      width: 350px;
      height: 100%;
      left: 450px;
      background: var(--primary);
      background: linear-gradient(0deg, var(--primary) 0%, var(--primary-fade) 100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      z-index: 5;
      transition: left 1s ease;
  }

  #form_message.active {
      left: 0;
  }

  #form_message span {
      width: 70%;
      transition: transform .9s ease;
  }

  #form_message.animate span {
      transform: translateY(450px);
  }

  #form_message span#message_title {
      font-size: 25pt;
      margin-bottom: 50px;
      font-weight: bold;
  }

  #form_message span#message_text {
      font-size: 13pt;
  }

  #form_switcher {
      z-index: 6;
      position: absolute;
      display: block;
      width: 50px;
      height: 22px;
      left: 50%;
      top: 10px;
      transform: translateX(-50%);
      border-radius: 30px;
      border: solid 2px var(--primary);
      cursor: pointer;
      background-color: white;
  }

  #form_switcher::after {
      content: "";
      width: 20px;
      height: 20px;
      background: var(--primary);
      background: linear-gradient(0deg, var(--primary) 0%, var(--primary-fade) 100%);
      border-radius: 30px;
      position: absolute;
      left: 2px;
      top: 1px;
      transition: left 1s ease;
  }

  #form_switcher.active::after {
      left: 28px;
  }

  form {
      position: absolute;
      height: 100%;
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: width 1s ease;
  }

  form.active {
      width: 450px;
  }

  form#login_form {
      left: 0;
  }

  form#register_form {
      right: 0;
  }

  form .form_title {
      font-weight: bold;
      font-size: 20pt;
      margin-bottom: 20px;
      color: var(--primary-fade);
  }

  form .form_input {
      display: flex;
      align-items: center;
      width: 200px;
      height: 30px;
      border-bottom: solid 2px var(--primary);
      margin: 10px 0;
  }

  form .form_input .icon {
      color: var(--primary-fade);
  }

  form .form_input input {
      border: none;
      margin-left: 10px;
  }

  form .form_input input:focus {
      outline: none;
  }

  form a {
      color: gray;
      font-size: 9pt;
      margin-top: 15px;
  }

  form .terms {
      width: 60%;
      font-size: 9pt;
      margin-top: 30px;
      text-align: center;
      color: gray;
  }

  form button {
      margin-top: 30px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 50px;
      font-size: 16pt;
      cursor: pointer;
      color: white;
      background: var(--primary);
      background: linear-gradient(0deg, var(--primary) 0%, var(--primary-fade) 100%);
  }