.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.table-content {
    border-collapse: collapse;    
}
.table-header {
    background-color:  var(--secondary-light);
    position: sticky;
    top: 0;
}

.table-body {
    border: 1px solid #ddd;
    padding: 0.2rem;
    text-align: center;
    background-color: white;
}

.table-body td{
    border: 1px solid #ddd;
    padding: 0.4rem;
    text-align: center;
}